/*-----------------------------------Header-------------------------*/

html, body {
    min-height: 100%;
}
body {
    background: #92c7d6;
    background-image: -webkit-radial-gradient(top, circle cover, #fff, #cccccc 80%);
    background-image: -moz-radial-gradient(top, circle cover, #fff, #cccccc 80%);
    background-image: -o-radial-gradient(top, circle cover, #fff, #cccccc 80%);
    background-image: radial-gradient(top, circle cover, #fff, #cccccc 80%);
}


.custom-header{

}

#hebLogo{
    max-width: 100%;
    max-height: 100%;
}

#logoDiv{
    height: 60px;
    width: 150px;
}

#header-right-btns-div{
    margin-top: 10%;
}

.non-block{
    display: inline;
    white-space: nowrap;
}

/*-----------------------------------Footer-------------------------*/
.footer {
    position:absolute;
    bottom:0;
    height:60px;
    width:100%;
    color: white;
    padding: 15px;
    background:#999;
    margin-top: 40px;
}
/*-----------------------------------Upload Customers Via Web Form -------------------------*/
#web-form-wrapper{
    margin-bottom: 60px;
    margin-top: 30px;
}
#submit-customer-btn-div{
    margin:auto;
}
#submit-customer-btn{
    width: 150px;
}
#upload-customer-title{
    margin-bottom: 2em;

    font-size: x-large;
    font-weight: bold;
}
#webFormMsg{
    margin-top: 20px;
    margin-left: 10px;
    color: red;
    font-size: larger;
    font-weight: bold;
    text-align: center;
}
/*----------------------------------- Upload Customers Via Text File -------------------------*/
#file-upload {
    display: none;
}

#file-upload-btn{
    margin-bottom: 50px;
    padding-bottom: 50px;
    color: red;
}

.custom-file-upload {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
}
/*----------------------------------- View Customers -------------------------*/
.disabledAnchor{
    pointer-events: none !important;
    cursor: default;
    color:Gray;
}

.highLightGreen{
    color: #00cc00;
}
.highLightRed{
    color: red;
}

#customerTable{

}
/*----------------------------------- Email Page -------------------------*/
#message{
    height: 12em;
}
#populateEmailButtonsDiv, #send-email-btn-div{
    text-align: center;
    margin-top: 1em;
}
#send-email-title{
    text-align: center;
    font-weight: bold;
    font-size: 34px;
    margin-top: 30px;
}
/*----------------------------------- Logging Page -------------------------*/
.logError{
    color: darkred;
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 4px;
    margin-top: 4px;
}
.logInfo{
    color: darkgreen;
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 4px;
    margin-top: 4px;
}
/*----------------------------------- Settings Page -------------------------*/
#saveAlert{
    color: red;
    font-size: 12px;
    text-align: center;

}
/*----------------------------------- Loading Overlay -------------------------*/
#loadingAnimationBorder{
    background:rgba(0,0,0,0.3);
    width: 20em;
    height: 15em;
    margin: auto;
    display: block;
    position: fixed;
    z-index: 10;
    left: 40%;
    top: 30%;
    text-align: center;
    border-radius: 20px;
}
.loading {
    -moz-animation: loading 5s cubic-bezier(0.680, -0.550, 0.265, 1.550) infinite;
    -webkit-animation: loading 5s cubic-bezier(0.680, -0.550, 0.265, 1.550) infinite;
    animation: loading 5s cubic-bezier(0.680, -0.550, 0.265, 1.550) infinite;
}
.loading,
.loading:before,
.loading:after {
    color: white;
    font-size: 30px;
    font-weight: bolder;
    background-color: red;
    display: inline-block;
    height: 40px;
    margin: auto;
    top: 40%;
    position: relative;
    border-radius: 25px;
    padding-left: 10px;
    padding-right: 10px;
}
.loading:before,
.loading:after{
    display: block;
    position: relative;
    -webkit-transform: rotate(0deg);
}
.loading:after {
    left: auto;
}
@-moz-keyframes loading {
    0% {
        -moz-transform: rotate(0deg);
    }
    25% {
        -moz-transform: rotate(180deg);
    }
    50% {
        -moz-transform: rotate(360deg);
    }
    75% {
        -moz-transform: rotate(180deg);
    }
   /* 100% {
        -moz-transform: rotate(360deg);
    }*/
}
@-webkit-keyframes loading {
    0% {
        -webkit-transform: rotate(0deg);
    }
    25% {
        -webkit-transform: rotate(180deg);
    }
    50% {
        -webkit-transform: rotate(360deg);
    }
    75% {
        -webkit-transform: rotate(180deg);
    }
   /* 100% {
        -webkit-transform: rotate(360deg);
    }*/
}

@keyframes loading {
    0% {
        transform: rotate(0deg);
    }
    25% {
        transform: rotate(180deg);
    }

    50% {
        transform: rotate(360deg);
    }
    75% {
        transform: rotate(180deg);
    }
    /*100% {
        transform: rotate(360deg);
    }*/
}
/*----------------------------------- Error Page -------------------------*/
#infoPopupWindowBorder{
    background:rgba(0,0,0,0.4);
    width: 20em;
    height: 15em;
    margin: auto;
    display: block;
    position: fixed;
    left: 40%;
    top: 30%;
    text-align: center;
    border-radius: 20px;
    z-index: 9;
}

#infoPopupMsg {
    color: red;
    font-size: 20px;
    font-weight: bolder;
    height: 100px;
    margin: auto;
    top: 20%;
    position: relative;
    border-radius: 25px;
    padding-left: 10px;
    padding-right: 10px;
}

.hideMe{
    display: none!important;
}
/*-----------------------------------HOME -------------------------*/
/*-----------------------------------HOME -------------------------*/
/*-----------------------------------HOME -------------------------*/
/*-----------------------------------HOME -------------------------*/



/*----------------------------------- HOME/DASHBOARD -------------------------*/

/* Remove the navbar's default margin-bottom and rounded borders */
.navbar {
    margin-bottom: 0;
    border-radius: 0;
}
/* Set height of the grid so .sidenav can be 100% (adjust as needed) */
.row.content {height: 550px}

/* Set gray background color and 100% height */
.sidenav {
    background-color: #f1f1f1;
    height: 100%;
    bottom: 0;
}

/* On small screens, set height to 'auto' for the grid */
@media screen and (max-width: 767px) {
    .row.content {height: auto;}
}

.non-link{
    cursor: pointer;
}

/* bootstrap 3 helpers */

.navbar-form input, .form-inline input {
    width:auto;
}

header {
    height:270px;
}

@media (min-width: 979px) {
    #sidebar.affix-top {
        position: static;
        margin-top:50px;
        width:170px;
    }

    #sidebar.affix {
        position: fixed;
        top:50px;
        width:170px;
    }
}

.affix,.affix-top {
    position:static;
}

#dashboard-container{
    margin-top: 2em;
}

.custom-active-nav-link{
    background: red;
    color: white;
    border-radius: 5px;
    font-weight: 700;
}
.custom-active-nav-link:hover{
    background-color: white;
}
.custom-active-nav-link:hover a{
    color: red;
}
.custom-active-nav-link a{
    color: white;
}

/*---------------------------- Modify Database ----------------------------*/
#modifyDBContainer{
    left: 50%;
    margin-top: 5em;
}

#modifyDBCreate{
    margin-bottom: 2em;
}

#modifyDBClear{
    margin-bottom: 2em;
}
#modifyDBDelete{
}
/*---------------------------- Miscellaneous ----------------------------*/
.customHEBButtonBig{
    font-size: 25px;
    border-radius: 10px;
    width: 250px;
    background: white;
    color: red;
    transition: all 0.3s ease 0s;
    border-color: red;
}
.customHEBButtonBig:hover{
    border-width: 1px;
    background: red;
    color: white;
}

.customHEBButtonXBig{
    font-size: 25px;
    border-radius: 10px;
    width: 350px;
    background: white;
    color: red;
    transition: all 0.3s ease 0s;
    border-color: red;
}
.customHEBButtonXBig:hover{
    border-width: 1px;
    background: red;
    color: white;
}

.customHEBButtonSmall{
    font-size: 15px;
    border-radius: 10px;
    width: 150px;
    background: white;
    color: red;
    transition: all 0.3s ease 0s;
    border-color: red;
}
.customHEBButtonSmall:hover{
    border-width: 1px;
    background: red;
    color: white;
}

.customHEBButtonXSmall{
    font-size: 12px;
    border-radius: 10px;
    width: 125px;
    background: white;
    color: red;
    transition: all 0.3s ease 0s;
    border-color: red;
}
.customHEBButtonXSmall:hover{
    border-width: 1px;
    background: red;
    color: white;
}


.customWhiteButtonXSmall{
    font-size: 12px;
    border-radius: 10px;
    width: 125px;
    background: black;
    color: white;
    transition: all 0.3s ease 0s;
    border-color: white;
}
.customWhiteButtonXSmall:hover{
    border-width: 1px;
    background: white;
    color: black;
}


.customBlueButtonSmall{
    font-size: 15px;
    border-radius: 10px;
    width: 150px;
    background: white;
    color: #0099ff;
    transition: all 0.3s ease 0s;
    border-color: #0099ff;
}
.customBlueButtonSmall:hover{
    border-width: 1px;
    border-color: #0099ff;
    background: #0099ff;
    color: white;
}

/*---------------------------- Login Page ----------------------------*/
#upload-customer-title{
    text-align: center;
    font-weight: bold;
    font-size: 34px;
    margin-top: 30px;
}
#loginErrorMsg{
    margin-top: 20px;
    margin-left: 10px;
    color: red;
    font-size: larger;
    font-weight: bold;
    text-align: center;
}
#login-user-btn{
    position: relative;
}
#clear-user-btn{
    position: relative;
}
#submit-customer-btn-div{
    text-align: center;
}
/*----------------------------END HOME ----------------------------*/
/*----------------------------END HOME ----------------------------*/
/*----------------------------END HOME ----------------------------*/