/*-----------------------------------Header-------------------------*/
.custom-header{

}

#hebLogo{
    max-width: 100%;
    max-height: 100%;
}

#logoDiv{
    height: 60px;
    width: 150px;
}

#header-right-btns-div{
    margin-top: 20%;
}

.non-block{
    display: inline;
    white-space: nowrap;
}
/*-----------------------------------Footer-------------------------*/
.footer {
    position:absolute;
    bottom:0;
    height:60px;
    width:100%;
    color: white;
    padding: 15px;
    background:#999;
    margin-top: 40px;
}




/*-----------------------------------Upload Customers Via Web Form -------------------------*/
#web-form-wrapper{
    margin-bottom: 60px;
    margin-top: 30px;
}
#submit-customer-btn-div{
    text-align:center;
    margin:auto;
}
#submit-customer-btn{
    width: 150px;
}
#upload-customer-title{
    text-align:center;
    margin:auto;
    font-size: x-large;
    font-weight: bold;
}
/*----------------------------------- View Customers -------------------------*/
.disabledAnchor{
    pointer-events: none !important;
    cursor: default;
    color:Gray;
}

/*-----------------------------------HOME -------------------------*/
/*-----------------------------------HOME -------------------------*/
/*-----------------------------------HOME -------------------------*/
/*-----------------------------------HOME -------------------------*/
/*-----------------------------------HOME -------------------------*/
/*-----------------------------------HOME -------------------------*/
/*-----------------------------------HOME -------------------------*/
/*-----------------------------------HOME -------------------------*/
/*-----------------------------------HOME -------------------------*/



/*-----------------------------------HOME -------------------------*/

/* Remove the navbar's default margin-bottom and rounded borders */
.navbar {
    margin-bottom: 0;
    border-radius: 0;
}

/* Set height of the grid so .sidenav can be 100% (adjust as needed) */
.row.content {
    height: 450px
}

/* Set gray background color and 100% height */
.sidenav {
    padding-top: 20px;
    background-color: #f1f1f1;
    height: 100%;
}

/* On small screens, set height to 'auto' for sidenav and grid */
@media screen and (max-width: 767px) {
    .sidenav {
        height: auto;
        padding: 15px;
    }

    .row.content {
        height: auto;
    }
}
/*----------------------------END HOME ----------------------------*/